# Binary Files

Binaries/
Intermediate/

# Cargo Files

Cargo.lock

# Packaged Artifacts

Release/

# Idea and Gradle Files

.idea/
.gradle/

build/

libs/
jniLibs/

local.properties

# Mac OSX

.DS_Store
