# Binary Files

Binaries/
Intermediate/

# Packaged Artifacts

Release/

# Idea and Gradle Files

.idea/
.gradle/

build/

# Visual Studio Project Files

.vs/

*.sln
*.vcxproj
*.csproj
*.filters
*.user

# CMake Project Files

Makefile
*.make

# Xcode Project Files

*.xcodeproj
*.xcworkspace

# Mac OSX

.DS_Store
