# Binary Files

Binaries/
Intermediate/

# Cargo Files

Cargo.lock

# Packaged Artifacts

Release/

# Idea and Gradle Files

.idea/
.gradle/

build/

libs/
jniLibs/

local.properties

# Java Extension Files

.project
.classpath

bin/

.settings/

# Mac OSX

.DS_Store
